p {
	text-align: justify;
}
h1 {
	text-align: center;
	
}
table {
	border:1px solid red;
	border-collapse:collapse;
}
th,td {
	border:1px solid red;
}
body {
	/*background-color:#AB343A;*/
	background-image:url("https://avatars.mds.yandex.net/i?id=ebfb319d4400fff259945e1c4c46cccd_l-4306555-images-thumbs&n=13");
	color:white

}
ul{
	list-style:url("roga tigra.png")
}
